body { 
    background-image : url(../../assets/images/bg_c2.gif);
    height: 100%; 
     background-position: center;
    background-size: cover;

}

.crystals {
    width: 100px;
    height: 100px;
    margin-left: 25%;
    text-align: center;
}

.jumbotron  {
    background-image: url(../../assets/images/bg_c4.gif);
    font-family: 'Fascinate Inline', cursive;
}

.lead {
    font-family: 'Share Tech Mono', monospace;
}
#numToBeat {
    font-size: 35px;
    text-align: center;
}

#wins {
    font-size: 35px;
    text-align: center;

}

#loss {
    font-size: 35px;
    text-align: center;

}

#currentCollect {
    font-size: 35px;
    text-align: center;
}

html {
    height: 100%;
  }

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
  }


.btn {
    margin-left: 32%;
}

.card-title {
    font-size : 20px;
    text-align: center;
    font-weight: 600;
}

.gem.green{
    font-size : 25px;
    color : lime;
    text-align: center;
    font-weight: 800;
}

.gem.yellow{
    font-size : 25px;
    color : gold;
    text-align: center;
    font-weight: 800;
}

.gem.red{
    font-size : 25px;
    color : red;
    text-align: center;
    font-weight: 800;
}

.gem.blue{
    font-size : 25px;
    color : slateblue;
    text-align: center;
    font-weight: 800;
}

.theImg {
    max-width: 30px;
    max-height: 30px;
}


.footer {
    text-align: center;
    color: white;
    font-size: 20px;
    }
 .footercont {
        width: 100%;
        background-image: url(../../assets/images/bgfoot.gif);
        padding: 10px;

    }
    .small {
        font-size :20px;
    }
